* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #ffffff;
  font-family: "Tajawal", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
main {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
figure {
  margin: 0;
}
.cursor_pointer {
  cursor: pointer;
}
/* colors */
.text_white {
  color: #ffffff;
}
.text_light_gray {
  color: rgba(33, 33, 33, 0.75);
}
.text_black {
  color: #212121 !important;
}
.text_light_blue {
  color: #29abe2;
}
.text_green {
  color: #01a781;
}
.text_dark_blue {
  color: #27436f;
}
/* text size */
.text_10 {
  font-size: 1rem;
}
.text_12 {
  font-size: 1.2rem;
}
.text_14 {
  font-size: 1.4rem;
}
.text_15 {
  font-size: 1.5rem;
}
.text_16 {
  font-size: 1.6rem;
}
.text_18 {
  font-size: 1.8rem;
}
.text_20 {
  font-size: 2rem;
}
.text_24 {
  font-size: 2.4rem;
}
.text_28 {
  font-size: 2.8rem;
}
.text_31 {
  font-size: 3.1rem;
}
.text_36 {
  font-size: 3.6rem;
}
.text_44 {
  font-size: 4.4rem;
}
/* font weight */
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
/* bg */
.bg_green {
  background: #01a781 !important;
}
/* border */
.border_green {
  border: 1px solid #01a781;
}
/* nabigation style */
nav {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url(../img/shape-1.png);
  background-position: center;
  background-size: cover;
}
.responsive_nav {
  display: none;
}
.responsive_links {
  opacity: 0;
  visibility: hidden;
  position: fixed;
}
.header {
  width: 95%;
  height: 110px;
  margin: 0 auto;
}
.languages button {
  width: 31px;
  height: 31px;
  background: #01a781;
  color: #ffffff;
  font-size: 14px;
}
.user {
  width: 31px;
  height: 31px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.signIn {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.search_box {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 7px 6px 7px 15px;
}
.search_box input {
  background-color: transparent;
  width: 90%;
  height: 100%;
  color: rgba(33, 33, 33, 0.5);
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.search_in {
  width: 35%;
  /* padding: 10px 10px; */
  border-radius: 8px;
  background-color: #fafafa;
  cursor: pointer;
}
.search_in_dropdown {
  width: 160px;
  top: 55px;
  /* right: 5px; */
  background: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  z-index: 99;
  display: none;
  overflow: hidden;
}
.search_in_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.search_in_dropdown ul {
  padding: 0px;
  margin: 0;
}
.search_in_dropdown ul li {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.search_in_dropdown ul li:hover {
  background-color: #fafafa;
}
.links {
  border-bottom: 1.5px solid rgba(217, 217, 217, 0.3);
}
.links ul {
  margin: 0;
  gap: 50px;
}
.links a {
  color: rgba(33, 33, 33, 0.75);
  font-weight: 500;
  padding: 15px 0;
}
.active_link {
  color: #01a781 !important;
  font-weight: 700;
  border-bottom: 4px solid #01a781;
}
.responsive_hero_Section {
  display: none;
}
.f_dropdown:hover .f_dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
}
.f_dropdown-menu {
  position: absolute;
  top: 54px;
  left: -72px;
  z-index: 99;
  background: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  z-index: 99;
  padding: 20px;
  width: 250px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
.f_dropdown-menu ul li {
  padding: 5px 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.f_dropdown-menu ul li a:hover {
  color: #01a781 !important;
}
.f_dropdown-menu ul li .active {
  color: #01a781 !important;
}
.hero_1 {
  background-color: #01a781;
  height: 590px;
  width: 50%;
  clip-path: polygon(0% 0, 100% 0, 89% 100%, -1% 101%);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  /* background-image:linear-gradient(top bottom,#0000004b,#0000002f, url(../img/shape-2.png)); */
  background-image: linear-gradient(
      to bottom,
      rgba(41, 171, 226, 0.7225),
      rgba(41, 171, 226, 0.85) 100%
    ),
    url("../img/shape-2.png");
  /* background: radial-gradient(to right, rgba(41, 171, 226, 0.7225) 0%, rgba(41, 171, 226, 0.85) 100%), url(./img/shape-2.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all;
  overflow: hidden;
}
.hero_1 h2,
p,
.hero_1_btn {
  /* transition: all 0.2s ease; */
}
.hero_1_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;

  align-items: center;
  background: #29abe2;
}
.hero_1_overlayh2 {
  /* width: 90%; */
  text-align: center;
}

.hero_1_overlay_wrapper {
  padding-left: 30px;
  width: 70% !important;
}
.hero_1_overlay_wrapper h2 {
  transition: all 0.5s ease-in;

  transform: translateY(61px) translateX(213px);
}
.hero_1_overlay_wrapper button {
  transform: translateY(125px) translateX(249px);
  transition: all 0.5s ease-in;
}
.hero_1_overlayButton {
  margin-bottom: 100px;
  margin-left: 0 !important;
}
.hero_2 {
  background-color: #01a781;
  height: 590px;

  width: calc(37% - 1vw);
  margin-left: -106px;
  clip-path: polygon(23% 0, 98% 0, 90% 100%, 3% 100%);
  transition: all;
}
.hero_2_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s ease-in;

  align-items: center;

  background-image: linear-gradient(
      to bottom,
      rgba(1, 167, 128, 0.418),
      #01a78062 100%
    ),
    url("../img/saudi-arabian-man-standing-holding-both-arms-together-smiling-front-angle_clipdrop-background-removal\ 1\ \(1\).png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  transition: all 0.6s ease-in;
}

.hero_2_overlay_wrapper {
  padding-right: 150px;
  margin-left: 200px;
}

.hero_2_overlayButton {
  transition: all 0.6s ease-in;
  margin-top: 40px;
  margin-left: 0 !important;
  transform: translateY(-40px);
}
.hero_2 h2 {
  margin-left: 60px;
}
.hero_2 button {
  margin-left: 60px;
}
.hero_2:hover {
  width: 61% !important;
  margin-left: -188px !important;
  clip-path: polygon(9% 0, 98% 0, 90% 100%, 0% 100%);
}
.hero_2:hover .hero_2_btn {
  opacity: 0;
  visibility: hidden;
}
.hero_2_h2,
.hero_2_btn {
  transition: all 0.3s ease-in;
}
.hero_2:hover .hero_2_h2 {
  opacity: 0;
  visibility: hidden;
}
.hero_2:hover .hero_2_overlay {
  opacity: 1;
  visibility: visible;
}

.hero_2:hover .hero_2_img {
  opacity: 0;
}
.hero_2_overlayh2,
.hero_2_overlayP {
  display: none;
  margin: 0 !important;
}

.hero_2:hover .hero_2_overlayButton {
  transform: translateY(0px);
}
.hero_2:hover .hero_2_overlayh2 {
  display: block;
}
.hero_2:hover .hero_2_overlayP {
  display: block;
}
/* .hero_2:hover ~ .hero_3 {
  background-color: #ff0000 !important;
  background-image: none !important;
} */
.hero_3 {
  background: linear-gradient(to right, #2786c8, #2684c7);

  height: 590px;
  width: calc(34% - 1vw);
  margin-left: -137px;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 12% 100%);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.3s ease-in;
}
.hero_3_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: all 0.4s ease-in;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(39, 134, 200, 0.85) 0%,
    #2684c7 100%
  );
  background-image: linear-gradient(
      to bottom,
      rgba(39, 133, 200, 0.493),
      #2684c770 100%
    ),
    url("../img/factory-robotic-arm-3d-model-obj-mtl-fbx-.png");
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all 0.6s ease-in;
}
.hero_3:hover {
  width: 61% !important;
  margin-left: -188px !important;
  /* clip-path: polygon(9% 0, 98% 0, 90% 100%, 0% 100%); */
}
.hero_3_overlayButton {
  transition: all 0.6s ease-in;
  margin-top: 40px;
  transform: translateY(-40px);
  margin-left: 0 !important;
}
.hero_3:hover .hero_3_overlayButton {
  transform: translateY(0px);
}
.hero_3:hover .hero_3_img {
  opacity: 0;
  visibility: hidden;
}
/* .hero_3_overlayh2,
.hero_3_overlayP {
  opacity: 0;
  visibility: hidden;
}
.hero_3:hover .hero_3_overlayh2 {
  opacity: 1;
  visibility: visible;
}
.hero_3:hover .hero_3_overlayP {
  visibility: visible;
  opacity: 1;
} */
.hero_3:hover .hero_3_overlay {
  opacity: 1;
  visibility: visible;
}
.hero_3_overlayh2,
.hero_3_overlayP {
  display: none;
  margin: 0 !important;
}

.hero_3:hover .hero_3_overlayh2 {
  display: block;
}
.hero_3:hover .hero_3_overlayP {
  display: block;
}
.hero_3:hover .hero_3_btn {
  opacity: 0;
  visibility: hidden;
}
.hero_3:hover .hero_3_h2 {
  opacity: 0;
  visibility: hidden;
}
.hero_3:hover .hero_3_img {
  opacity: 0;
  visibility: hidden;
}
.hero_3 h2 {
  margin-left: 60px;
}
.hero_3_h2 {
  width: 50%;
}
.hero_3 button {
  margin-left: 60px;
}
.hero_3 figure {
  margin-left: 60px;
}
.hero_2 button {
  margin-left: 60px;
}
.hero_3_overlay_wrapper {
  padding-right: 50px;
  margin-left: 206px;
}
.brand_btn {
  padding: 0px 22px;
  height: 41px;
  border-radius: 8px;
  font-weight: 700;
  border: 1px solid #ffffff;
  width: 140px;
  transition: all 0.3s ease-in;
}
.brand_btn:hover {
  background-color: transparent !important;
  color: white;
}
.brand_btn_sm {
  width: 125px !important;
}
/* overview section */
.box-footer {
  height: 146px;
  background-image: linear-gradient(to right, #01a780d3, #01a780d0),
    url("../img/shape-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  border-radius: 8px;
}
.box h2 {
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  position: relative;
}
.box h2::before {
  content: "";
  width: 6px;
  height: 38px;
  background: #29abe2;
  display: inline-block;
  margin-right: 0px;
  position: absolute;
  right: -18px;
  top: 7px;
}
.box_en h2::before {
  content: "";
  right: auto;
  left: -18px !important;
}
.en_box {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  border-radius: 8px;
}
.en_box h2 {
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  position: relative;
}
.en_box h2::before {
  content: "";
  width: 6px;
  height: 38px;
  background: #29abe2;
  display: inline-block;
  margin-right: 0px;
  position: absolute;
  left: -18px;
  top: 7px;
}
/* explanatory_section */
.video_part {
  /* background-image: url(../img/image-4.png);
  background-position: center;
  background-size: cover; */
  height: 350px;
  border-radius: 8px;
  position: relative;
}
.video_part iframe {
  border-radius: 8px;
}
.video_part button {
  background: #ff0000;
  padding: 17px 31px;
  border-radius: 18px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* classification_section */
.title {
  padding: 60px 0;
}
.title div {
  width: 90px;
  border: 4px solid #29abe2;
}
.classification_section .box {
  height: 260px;
  transition: all 0.3s ease-in;
}
.classification_section .box:hover {
  background-color: #01a781 !important;
}
h3,
p,
span {
  transition: all 0.3s ease-in;
}
.classification_section .box:hover h3 {
  color: #fff !important;
}
.classification_section .box:hover p {
  color: #fff !important;
}
.classification_section .box:hover span {
  color: #fff !important;
}
.classification_section .box:hover svg path {
  fill: #fff !important;
}
.more_en svg {
  transform: rotate(180deg);
}
/* featured_products_section*/
.responsive_featured_products_section {
  display: none !important;
}
.featured_products_section,
.responsive_featured_products_section {
  background: linear-gradient(180deg, #23aad3 0%, rgba(250, 250, 250, 0) 100%);
}
.featured_products_box {
  border-radius: 8px;
}
.featured_products_box figure {
  width: 100%;
}
.featured_products_box figure img {
  width: 100%;
}
.featured_products_box button {
  background: #01a781;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px 36px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
}
.owl-stage {
  display: flex;
  justify-content: center;
}
.featured_products_wrapper {
  width: 98%;
  margin: 0 auto;
}
.featured_products_carousel {
  padding-bottom: 80px;
}
.featured_products_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -5%;
  background-color: transparent;
  left: 15px;
  border: none;
}
.carousel_controler_en .owl-nav button.owl-prev {
  right: 6% !important;
  left: auto !important;
}
.carousel_controler_en .owl-nav button.owl-next {
  right: 1% !important;
  left: auto !important;
}

.featured_products_carousel .owl-nav button.disabled {
  opacity: 0.5;
}

.featured_products_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -5%;
  background-color: transparent;
  left: 75px;
  border: none;
}
.en_featured_products_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -5%;
  background-color: transparent;
  right: 6% !important;
  left: auto !important;
  border: none;
}

.en_featured_products_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -5%;
  background-color: transparent;
  right: 1% !important;
  left: auto !important;
  border: none;
}

.more_products button {
  padding: 12px 64px;
  border: 1px solid #01a781;
  border-radius: 8px;
  background-color: transparent;
}
/* facilities_section */
.facilities_section .box {
  height: 205px;
  transition: all 0.3s ease-in;
}
.facilities_section .box:hover {
  background-color: #01a781 !important;
}
.facilities_section .box:hover h3 {
  color: #fff !important;
}

.facilities_section .box:hover p {
  color: #fff !important;
}

.facilities_section .box:hover span {
  color: #fff !important;
}
.facilities_section .box:hover svg path {
  fill: #fff !important;
}
.facilities_section {
  padding-top: 0;
  padding-bottom: 120px;
}
/* Partners_section */
.responsive_partners_section {
  display: none;
}
.partners_section {
  height: 270px;
  background: #27436f;
}
.partners_section .box {
  height: 164px;
  background: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.03) !important;
  border-radius: 6.4px !important;
  backdrop-filter: blur(0px) !important;
}

.partners_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -27%;
  background-color: transparent;
  left: 12px;
  border: none;
}

.partners_carousel .owl-nav button.disabled svg path {
  fill: #d9d9d9 !important;
  opacity: 0.6;
}

.partners_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -27%;
  background-color: transparent;
  left: 70px;
  border: none;
}
.owl-stage-outer {
  overflow: hidden;
}

/* participants_section */

.participants_section {
  padding-top: 120px;
  padding-bottom: 60px;
}
.participants_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -12%;
  background-color: transparent;
  left: 12px;
  border: none;
}

.participants_carousel .owl-nav button.disabled svg path {
  fill: #d9d9d9 !important;
  opacity: 0.6;
}

.participants_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -12%;
  background-color: transparent;
  left: 70px;
  border: none;
}
.participants_carousel img {
  min-height: 367px;
  max-height: 367px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
}
/* join_section */
.join_section {
  margin-top: 20px;
}
.join_section_box {
  height: 200px;
  background-image: linear-gradient(to right, #01a780d3, #01a780d0),
    url("../img/shape-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 60px;
}

/* footer_section */
.footer_section {
  padding: 70px 0;
}
.social_icon {
  width: 37px;
  height: 37px;
  background: #01a781;
  border-radius: 9.6px;
}
.important_links h2 {
  border-bottom: 1px solid #d9d9d9;
  width: 68%;
  margin-right: 16px;
}
.important_links_en h2::before {
  left: -18px;
  right: auto !important;
}
.important_links h2::before {
  content: "";
  width: 6px;
  height: 38px;
  background: #29abe2;
  display: inline-block;
  margin-right: 0px;
  position: absolute;
  right: -18px;
  top: 7px;
}
.important_links ul li {
  width: 48%;
}
.contact_icon {
  width: 41px;
  height: 41px;
  background: rgba(41, 171, 226, 0.2);
  border-radius: 8px;
}
.download button {
  width: 152px;
  height: 51px;
  border-radius: 6.4px;
  border: none;
}
.download .app {
  background: #01a781;
}
.download .google_play {
  background: #27436f;
}
/* product gallery page css */

.categories_wrapper {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 8px 15px;
  width: 400px;
}
.product_search_wrapper {
  background: linear-gradient(
      180deg,
      rgba(39, 67, 111, 0.75) 0%,
      rgba(39, 67, 111, 0.5625) 100%
    ),
    url(../img/grocery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;

  box-shadow: 10px 3px 18px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.product_search_icon {
  height: 41px;
  width: 41px;
  background-color: #01a781;
  border-radius: 50%;
  flex-shrink: 0;
}
.product_banner_carousel .owl-nav {
  display: none;
}
.product_banner_carousel .owl-dot.active {
  background-color: #01a781;
}
.product_banner_carousel .owl-dots {
  position: absolute;
  bottom: 12px;
  left: 24px;
  display: flex;
  gap: 10px;
}
.product_banner_carousel .owl-dot {
  height: 4.5px;
  width: 31px;
  border: none;
  background: #fff;
  border-radius: 8px;
}
.slider-counter {
  position: absolute;
  bottom: 24px;
  left: 29px;
}
.product_banner_carousel_item img {
  height: 480px;
  border-radius: 7.6px;
  object-fit: cover;
}
.product_listing_section {
  padding-top: 30px;
  padding-bottom: 70px;
}
.product_banner_section {
  padding: 40px 0;
}
.product_listing_wrapper {
  padding: 50px 0;
}
.product_listing_box {
  background-color: #fafafa;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.product_listing_title {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

/* product_deatils page css */
.product_deatils_search_box {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 0 15px;
}
.product_deatils_search_box input {
  background-color: transparent;
  width: 90%;
  height: 100%;
  color: rgba(33, 33, 33, 0.5);
  border: none;
  outline: none;
  padding: 8px 0px;
  font-size: 16px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.border_bottom {
  border-bottom: 1px solid rgba(217, 217, 217, 0.3);
}
.media_img {
  width: 100%;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden;
}
.media_img img {
  width: 100%;
  height: 100%;
}
.img_list figure {
  width: 85px;
  height: 78px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden;
}
.img_list figure img {
  width: 100%;
  height: 100%;
}
.selected_img {
  border: 2px solid #01a781 !important;
}
.thumbs_svg {
  width: 15px;
  height: 15px;
}
.big_item {
  width: 98%;
  margin: 0 auto;
}
.current {
  border: 2px solid #01a781 !important;
  overflow: hidden;
  border-radius: 6px;
}

.normal-zoom {
  transform: scale(1);
  cursor: zoom-in;
  transition: transform 250ms;
}

.zoom-in {
  transform: scale(1.6);
  cursor: zoom-out;
  transition: transform 250ms;
}

.product_range {
  width: 100%;
  padding: 20px 0;
}
.product_range thead tr th {
  width: 25%;
  padding: 10px 0;
  text-align: start;
}
.product_range tbody tr td {
  padding: 10px 0;
  text-align: start;
}
.selected_text {
  color: #01a781 !important;
}
.for_contact,
.company_info {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 15px 15px;
}
.for_contact button {
  border-radius: 8px;
}
.for_contact {
  background: #ffffff;
}
.company_info {
  background-color: #fafafa;
}
.similar_product_box {
  background-color: #fafafa;
}
.similar_product_carousel {
  padding: 50px 0;
}
.similar_product_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -5%;
  background-color: transparent;
  left: 15px;
  border: none;
}

.similar_product_carousel .owl-nav button.disabled {
  opacity: 0.5;
}

.similar_product_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -5%;
  background-color: transparent;
  left: 75px;
  border: none;
}
.en_similar_product_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -5%;
  background-color: transparent;
  right: 6% !important;
  left: auto !important;
  border: none;
}

.en_similar_product_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -5%;
  background-color: transparent;
  right: 1% !important;
  left: auto !important;
  border: none;
}

.slick-wrapper {
  width: 80%;
  background-color: aqua;
}
.slide-item {
  background-color: rebeccapurple;
  color: aqua;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  border: 1px solid white;
}
.slide-item h3 {
  font-family: Lato, sans-serif;
  font-size: 40px;
}
.all_categories_lists {
  width: 380px;
  height: 700px;
  overflow-y: auto;
  background: #fafafa;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  top: 50px;
}
.all_categories_lists ul li {
  border-bottom: 1.5px solid rgba(217, 217, 217, 0.3);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.all_categories_lists ul li .all_categories_item {
  padding: 20px 15px;
}
.all_categories_lists ul li:hover {
  background-color: #fff;
}
.all_categories_item span {
  color: rgba(33, 33, 33, 0.75);
  font-size: 12px;
}
::-webkit-scrollbar {
  width: 6px;
}
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
::-webkit-scrollbar-thumb {
  background: #01a781;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}
::-webkit-scrollbar-thumb:hover {
  background: #01a780d7;
}
/* industrial classification page style */
.i_classification_item_wrapper {
  gap: 16px;
}
.i_classification_item {
  width: 11.4%;
  height: 168px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}
.i_classification_item figure {
  background: #fafafa;
  border-radius: 20px;
  height: 68px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i_classification_item h3 {
  font-size: 14px;
  color: rgba(33, 33, 33, 0.75);
}
.chat_icon {
  width: 68px;
  height: 68px;
  background: #01a781;
  box-shadow: 0px 0px 18px rgba(1, 167, 129, 0.3);
  border-radius: 30px 200px 200px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20%;
  right: 20px;
  cursor: pointer;
}
.commodity_tab {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  color: #212121;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
}
.commodity_classification-section .active_tab {
  background-color: #01a781 !important;
  color: #fff;
}
.commodity_classification_table table {
  width: 100%;
  border-spacing: 0px 10px;
  border-collapse: separate;
}
.commodity_classification_table {
  background: #ffffff;
  /* border-radius: 8px; */
  /* box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03); */
  padding: 0 30px 40px;
}
.commodity_classification_table table thead tr th {
  font-weight: 500;
  font-size: 18px;
  color: #212121;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;
}
.commodity_classification_table table tbody tr td {
  background: #fafafa;
  padding: 8px;
  font-size: 16px;
}
.commodity_classification_table table tbody tr td span {
  background: #01a781 !important;
  color: #fff !important;
  border-radius: 8px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
}
.text_align-end {
  text-align: end;
}
.commodity_classification_table_tab span {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: rgba(217, 217, 217, 0.5);
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commodity_classification_table_tab .active_tab {
  background: #29abe2 !important;
  color: #fff !important;
}
.g_classification_nav {
  display: flex;
  gap: 30px;
  padding: 40px 0;
}
.g_classification_item {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(3px);

  border-radius: 8px;
  width: 19%;
  height: 168px;
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 10px;
}
.g_classification_item h3 {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
.g_classification_item p {
  width: 47px;
  height: 22px;
  background: #01a781;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.g_classification_item span {
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 33, 33, 0.75);
}
.g_classification_item figure {
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background: #fafafa;
  border-radius: 20px;
}
.g_classification_wrapper {
  gap: 16px;
}
/* signIn page */
.signIn_section {
  background-color: #fafafa;
  padding: 85px 0;
}
.signIn_wrapper {
  background: #ffffff;
  border-radius: 20px;
  width: 50%;
  margin: 0px auto;
  padding: 20px 40px;
}
.signIn_inputs .signIn_input_form {
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin: 15px 0;
  display: flex;
  height: 48px;
  padding: 0 15px;
  align-items: center;
  gap: 17px;
}
.signIn_inputs .signIn_input_form input {
  width: 100%;
  outline: none;
  border: none;
  background: inherit;
}
.signIn_btn button {
  border: none;
  outline: none;
  background: #01a781;
  box-shadow: 10px 3px 18px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  width: 50%;
  cursor: pointer;
}
.or_left,
.or_right {
  border: 1px solid #d9d9d9;
  width: 33%;
}
.signIn_options .option {
  background: #ffffff;
  /* Gray */

  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 60%;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
}
/* customs_clearance page */
.customs_clearance_wrapper,
.supporting_facilities_wrapper {
  gap: 34px;
}
.customs_clearance_item,
.supporting_facilities_items {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(3px);
  width: 23%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 8px;
}
.customs_clearance_item button {
  padding: 1px 10px;
  background: #01a781;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
.supporting_facilities_items button {
  padding: 1px 10px;
  background: #01a781;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
.manager_speech {
  background: #fafafa;
  border-radius: 8px;
  padding: 30px;
}
.manager_img figure {
  width: 124px;
  height: 124px;
}

.manager_img figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.manager_comment {
  padding: 50px 40px;
}
.mve_itme {
  width: 31%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
  padding: 25px;
}
.mve_svg-wrapper {
  min-height: 200px;
  width: 100%;
}
.mve_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #fafafa;
}
.address,
.contact {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
}
.address {
  width: 48%;
}
.contact {
  width: 80%;
}
.contact_phone,
.address_location {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-radius: 20px;
}
.getInTuch {
  width: 48%;
}
.g_Location {
  width: 48%;
}
.getInTuch_box {
  box-shadow: none !important;
}
.getInTuch_input_wrapper,
.getInTuch_textarea_wrapper {
  background: #fafafa;
  height: 48px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin: 20px 0;
  overflow: hidden;
  padding: 0 20px;
}
.getInTuch_textarea_wrapper {
  height: auto !important;
  padding: 20px !important;
}
.getInTuch_input_wrapper input {
  width: 100%;
  height: 100%;
  border: none !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(33, 33, 33, 0.5);
  background-color: transparent;
}
.getInTuch_textarea_wrapper textarea {
  width: 100%;
  height: 100%;
  border: none !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(33, 33, 33, 0.5);
  background-color: transparent;
}
.getInTuch_btn {
  width: 70%;
  height: 48px;
  border: none;
  outline: none;
  background: #01a781;
  box-shadow: 10px 3px 18px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.vcep_item {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
  padding: 40px 0px;
}
.vcep_svg {
  width: 115px;
  height: 115px;
  background: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help_guide_box {
  background-color: transparent;
  box-shadow: none;
}
.help_guide_item {
  width: 48%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
  padding: 30px 20px;
}
.help_guide_sideBar {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  width: 25%;
  padding: 40px 20px;
  height: fit-content;
}
.help_guide_sideBar ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
  padding: 0 !important;
}
.help_guide_sideBar ul li {
  background: #fafafa;
  height: 32px;
  padding: 0 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.help_guide_sideBar ul li a {
  color: #212121;
  font-size: 16px;
}
.help_guide_sideBar ul li a.active {
  color: #29abe2;
}
.help_guide_content {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  width: 73%;
  padding: 40px 20px;
}
