* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Tajawal", sans-serif;
  font-size: 62.5%;
}
body {
  background: #fafafa;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* colors */
.text_white {
  color: #ffffff;
}
.text_black {
  color: #212121;
}
.text_light_blue {
  color: #29abe2;
}
.text_green {
  color: #01a781;
}
.text_dark_blue {
  color: #27436f;
}
/* text size */
.text_10 {
  font-size: 1rem;
}
.text_12 {
  font-size: 1.2rem;
}
.text_14 {
  font-size: 1.4rem;
}
.text_15 {
  font-size: 1.5rem;
}
.text_16 {
  font-size: 1.6rem;
}
.text_18 {
  font-size: 1.8rem;
}
/* nabigation style */
nav {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url(../img/shape-1.png);
  background-position: center;
  background-size: cover;
  height: 57vh;
}
.header {
  width: 95%;
  height: 110px;
  margin: 0 auto;
}
.languages button {
  width: 31px;
  height: 31px;
  background: #01a781;
  color: #ffffff;
  font-size: 14px;
}
.user {
  width: 31px;
  height: 31px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
.signIn {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.search_box {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 7px 6px 7px 15px;
}
.search_box input {
  background-color: transparent;
  width: 90%;
  height: 100%;
  color: rgba(33, 33, 33, 0.5);
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.search_in {
  width: 35%;
  padding: 10px 10px;
  border-radius: 8px;
  background-color: #fafafa;
  cursor: pointer;
}
.links {
  border-bottom: 1.5px solid rgba(217, 217, 217, 0.3);
}
.links ul {
  width: 95%;
  margin: 0 auto;
  /* padding: 0px 60px; */
}
.links a {
  color: rgba(33, 33, 33, 0.75);
  font-weight: 500;
  padding: 15px 0;
}
.active_link {
  color: #01a781 !important;
  font-weight: 700;
  border-bottom: 4px solid #01a781;
}
.hero_1 {
  background-color: #01a781;
  height: 60vh;
  width: 50%;
  clip-path: polygon(0% 0, 97% 0, 89% 100%, -1% 101%);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  /* background-image:linear-gradient(top bottom,#0000004b,#0000002f, url(../img/shape-2.png)); */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.226),
      rgba(0, 0, 0, 0.281)
    ),
    url("../img/shape-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero_2 {
  background-color: #01a781;
  height: 60vh;
  width: calc();
  width: calc(37% - 1vw);
  margin-left: -91px;
  clip-path: polygon(15% 0, 98% 0, 90% 100%, 4% 100%);
}
.hero_3 {
  background: linear-gradient(  to right, #2786C8, #2684C7);

  height: 60vh;
  width: calc(33% - 1vw);
  margin-left: -137px;
  clip-path: polygon(31% 0, 100% 0, 100% 100%, 17% 100%);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
