* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #fafafa;
  font-family: "Tajawal", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
figure {
  margin: 0;
}
.cursor_pointer {
  cursor: pointer;
}
/* colors */
.text_white {
  color: #ffffff;
}
.text_light_gray {
  color: rgba(33, 33, 33, 0.75);
}
.text_black {
  color: #212121;
}
.text_light_blue {
  color: #29abe2;
}
.text_green {
  color: #01a781;
}
.text_dark_blue {
  color: #27436f;
}
/* text size */
.text_10 {
  font-size: 1rem;
}
.text_12 {
  font-size: 1.2rem;
}
.text_14 {
  font-size: 1.4rem;
}
.text_15 {
  font-size: 1.5rem;
}
.text_16 {
  font-size: 1.6rem;
}
.text_18 {
  font-size: 1.8rem;
}
.text_20 {
  font-size: 2rem;
}
.text_24 {
  font-size: 2.4rem;
}
.text_28 {
  font-size: 2.8rem;
}
.text_31 {
  font-size: 3.1rem;
}
.text_36 {
  font-size: 3.6rem;
}
.text_44 {
  font-size: 4.4rem;
}
/* font weight */
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
/* bg */
.bg_green {
  background: #01a781 !important;
}
/* nabigation style */
nav {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url(../img/shape-1.png);
  background-position: center;
  background-size: cover;
}
.header {
  width: 95%;
  height: 110px;
  margin: 0 auto;
}
.languages button {
  width: 31px;
  height: 31px;
  background: #01a781;
  color: #ffffff;
  font-size: 14px;
}
.user {
  width: 31px;
  height: 31px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
.signIn {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.search_box {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 7px 6px 7px 15px;
}
.search_box input {
  background-color: transparent;
  width: 90%;
  height: 100%;
  color: rgba(33, 33, 33, 0.5);
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.search_in {
  width: 35%;
  padding: 10px 10px;
  border-radius: 8px;
  background-color: #fafafa;
  cursor: pointer;
}
.links {
  border-bottom: 1.5px solid rgba(217, 217, 217, 0.3);
}
.links ul {
  width: 95%;
  margin: 0 auto;
  /* padding: 0px 60px; */
}
.links a {
  color: rgba(33, 33, 33, 0.75);
  font-weight: 500;
  padding: 15px 0;
}
.active_link {
  color: #01a781 !important;
  font-weight: 700;
  border-bottom: 4px solid #01a781;
}
.hero_1 {
  background-color: #01a781;
  height: 590px;
  width: 50%;
  clip-path: polygon(0% 0, 100% 0, 89% 100%, -1% 101%);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  /* background-image:linear-gradient(top bottom,#0000004b,#0000002f, url(../img/shape-2.png)); */
  background-image: linear-gradient(
      to bottom,
      rgba(41, 171, 226, 0.7225),
      rgba(41, 171, 226, 0.85) 100%
    ),
    url("../img/shape-2.png");
  /* background: radial-gradient(to right, rgba(41, 171, 226, 0.7225) 0%, rgba(41, 171, 226, 0.85) 100%), url(./img/shape-2.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all;
  overflow: hidden;
}
.hero_1 h2,
p,
.hero_1_btn {
  /* transition: all 0.2s ease; */
}
.hero_1_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;

  align-items: center;
  background: #29abe2;
}

.hero_1_overlay_wrapper {
  padding-left: 30px;
}
.hero_1_overlay_wrapper h2 {
  transition: all 0.5s ease-in;

  transform: translateY(61px) translateX(213px);
}
.hero_1_overlay_wrapper button {
  transform: translateY(125px) translateX(249px);
  transition: all 0.5s ease-in;
}
.hero_1_overlayButton {
  margin-bottom: 100px;
}
.hero_2 {
  background-color: #01a781;
  height: 590px;

  width: calc(37% - 1vw);
  margin-left: -106px;
  clip-path: polygon(23% 0, 98% 0, 90% 100%, 3% 100%);
  transition: all;
}
.hero_2_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s ease-in;

  align-items: center;

  background-image: linear-gradient(
      to bottom,
      rgba(1, 167, 128, 0.418),
      #01a78062 100%
    ),
    url("../img/saudi-arabian-man-standing-holding-both-arms-together-smiling-front-angle_clipdrop-background-removal\ 1\ \(1\).png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  transition: all 0.6s ease-in;
}

.hero_2_overlay_wrapper {
  padding-right: 150px;
}
.hero_2_overlayButton {
  transition: all 0.6s ease-in;
  margin-top: 40px;

  transform: translateY(-40px);
}
.hero_2 h2 {
  margin-left: 60px;
}
.hero_2 button {
  margin-left: 60px;
}
.hero_2:hover {
  width: 61% !important;
  margin-left: -188px !important;
  clip-path: polygon(9% 0, 98% 0, 90% 100%, 0% 100%);
}
.hero_2:hover .hero_2_btn {
  opacity: 0;
  visibility: hidden;
}
.hero_2_h2,
.hero_2_btn {
  transition: all 0.3s ease-in;
}
.hero_2:hover .hero_2_h2 {
  opacity: 0;
  visibility: hidden;
}
.hero_2:hover .hero_2_overlay {
  opacity: 1;
  visibility: visible;
}

.hero_2:hover .hero_2_img {
  opacity: 0;
}
.hero_2_overlayh2,
.hero_2_overlayP {
  display: none;
}
.hero_2:hover .hero_2_overlayButton {
  transform: translateY(0px);
}
.hero_2:hover .hero_2_overlayh2 {
  display: block;
}
.hero_2:hover .hero_2_overlayP {
  display: block;
}
/* .hero_2:hover ~ .hero_3 {
  background-color: #ff0000 !important;
  background-image: none !important;
} */
.hero_3 {
  background: linear-gradient(to right, #2786c8, #2684c7);

  height: 590px;
  width: calc(34% - 1vw);
  margin-left: -137px;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 12% 100%);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.3s ease-in;
}
.hero_3_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: all 0.4s ease-in;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(39, 134, 200, 0.85) 0%,
    #2684c7 100%
  );
  background-image: linear-gradient(
      to bottom,
      rgba(39, 133, 200, 0.493),
      #2684c770 100%
    ),
    url("../img/factory-robotic-arm-3d-model-obj-mtl-fbx-.png");
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all 0.6s ease-in;
}
.hero_3:hover {
  width: 61% !important;
  margin-left: -188px !important;
  /* clip-path: polygon(9% 0, 98% 0, 90% 100%, 0% 100%); */
}
.hero_3_overlayButton {
  transition: all 0.6s ease-in;
  margin-top: 40px;
  transform: translateY(-40px);
}
.hero_3:hover .hero_3_overlayButton {
  transform: translateY(0px);
}
.hero_3:hover .hero_3_img {
  opacity: 0;
  visibility: hidden;
}
/* .hero_3_overlayh2,
.hero_3_overlayP {
  opacity: 0;
  visibility: hidden;
}
.hero_3:hover .hero_3_overlayh2 {
  opacity: 1;
  visibility: visible;
}
.hero_3:hover .hero_3_overlayP {
  visibility: visible;
  opacity: 1;
} */
.hero_3:hover .hero_3_overlay {
  opacity: 1;
  visibility: visible;
}
.hero_3_overlayh2,
.hero_3_overlayP {
  display: none;
}

.hero_3:hover .hero_3_overlayh2 {
  display: block;
}
.hero_3:hover .hero_3_overlayP {
  display: block;
}
.hero_3:hover .hero_3_btn {
  opacity: 0;
  visibility: hidden;
}
.hero_3:hover .hero_3_h2 {
  opacity: 0;
  visibility: hidden;
}
.hero_3:hover .hero_3_img {
  opacity: 0;
  visibility: hidden;
}
.hero_3 h2 {
  margin-left: 60px;
}
.hero_3 button {
  margin-left: 60px;
}
.hero_3 figure {
  margin-left: 60px;
}
.hero_2 button {
  margin-left: 60px;
}
.hero_3_overlay_wrapper {
  padding-right: 50px;
}
.brand_btn {
  padding: 0px 22px;
  height: 41px;
  border-radius: 8px;
  font-weight: 700;
  border: 1px solid #ffffff;
  width: 140px;
}
/* overview section */
.box-footer {
  height: 146px;
  background-image: linear-gradient(to right, #01a780d3, #01a780d0),
    url("../img/shape-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(3px);
  border-radius: 8px;
}
.box h2 {
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  position: relative;
}
.box h2::before {
  content: "";
  width: 6px;
  height: 38px;
  background: #29abe2;
  display: inline-block;
  margin-right: 0px;
  position: absolute;
  right: -18px;
  top: 7px;
}
/* explanatory_section */
.video_part {
  background-image: url(../img/image-4.png);
  background-position: center;
  background-size: cover;
  height: 350px;
  border-radius: 8px;
}
.video_part button {
  background: #ff0000;
  padding: 17px 31px;
  border-radius: 18px;
  border: none;
}

/* classification_section */
.title {
  padding: 60px 0;
}
.title div {
  width: 90px;
  border: 4px solid #29abe2;
}
.classification_section .box {
  height: 260px;
}
/* featured_products_section*/
.featured_products_section {
  background: linear-gradient(180deg, #23aad3 0%, rgba(250, 250, 250, 0) 100%);
}
.featured_products_box {
  border-radius: 8px;
}
.featured_products_box button {
  background: #01a781;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px 36px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
}
.owl-stage {
  display: flex;
  justify-content: center;
}
.featured_products_wrapper {
  width: 98%;
  margin: 0 auto;
}
.featured_products_carousel {
  padding-bottom: 80px;
}
.featured_products_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -5%;
  background-color: transparent;
  left: 15px;
  border: none;
}

.featured_products_carousel .owl-nav button.disabled {
  opacity: 0.5;
}

.featured_products_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -5%;
  background-color: transparent;
  left: 75px;
  border: none;
}

.more_products button {
  padding: 12px 64px;
  border: 1px solid #01a781;
  border-radius: 8px;
  background-color: transparent;
}
/* facilities_section */
.facilities_section .box {
  height: 205px;
}
.facilities_section {
  padding-top: 0;
  padding-bottom: 120px;
}
/* Partners_section */
.partners_section {
  height: 270px;
  background: #27436f;
}
.partners_section .box {
  height: 164px;
  background: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.03) !important;
  border-radius: 6.4px !important;
  backdrop-filter: blur(0px) !important;
}

.partners_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -27%;
  background-color: transparent;
  left: 12px;
  border: none;
}

.partners_carousel .owl-nav button.disabled svg path {
  fill: #d9d9d9 !important;
  opacity: 0.6;
}

.partners_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -27%;
  background-color: transparent;
  left: 70px;
  border: none;
}
.owl-stage-outer {
  overflow: hidden;
}

/* participants_section */

.participants_section {
  padding-top: 120px;
  padding-bottom: 60px;
}
.participants_carousel .owl-nav button.owl-prev {
  position: absolute;
  top: -12%;
  background-color: transparent;
  left: 12px;
  border: none;
}

.participants_carousel .owl-nav button.disabled svg path {
  fill: #d9d9d9 !important;
  opacity: 0.6;
}

.participants_carousel .owl-nav button.owl-next {
  position: absolute;
  top: -12%;
  background-color: transparent;
  left: 70px;
  border: none;
}
.participants_carousel img {
  min-height: 367px;
  max-height: 367px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
}
/* join_section */
.join_section {
  margin-top: 20px;
}
.join_section_box {
  height: 200px;
  background-image: linear-gradient(to right, #01a780d3, #01a780d0),
    url("../img/shape-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 60px;
}

/* footer_section */
.footer_section {
  padding: 70px 0;
}
.social_icon {
  width: 37px;
  height: 37px;
  background: #01a781;
  border-radius: 9.6px;
}
.important_links h2 {
  border-bottom: 1px solid #d9d9d9;
  width: 68%;
  margin-right: 16px;
}

.important_links h2::before {
  content: "";
  width: 6px;
  height: 38px;
  background: #29abe2;
  display: inline-block;
  margin-right: 0px;
  position: absolute;
  right: -18px;
  top: 7px;
}
.important_links ul li {
  width: 48%;
}
.contact_icon {
  width: 41px;
  height: 41px;
  background: rgba(41, 171, 226, 0.2);
  border-radius: 8px;
}
.download button {
  width: 152px;
  height: 51px;
  border-radius: 6.4px;
  border: none;
}
.download .app {
  background: #01a781;
}
.download .google_play {
  background: #27436f;
}
